.rounds {
    background-color: coral;
    text-align: center;
}

.rounds-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.label {
    font-size: 0.9rem;
}

.count {
    margin: 0 10px;
}

.message > p {
    opacity: 0;
    transition: 300ms ease-in-out;
}

.message > p.show {
    opacity: 1;
}