.navigation-menu {
    background-color: var(--color-gray4);
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 2.5vw 0;
  }
  
  .navigation-menu > li > a {
    color: var(--black);
    text-decoration: none;
    padding: 0 1vw;
  }
  