.documentation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.documentation-atoms,
.documentation-molecules {
    background-color: var(--color-gray4);
    padding: 2vw;
    border-radius: 15px;
}

.documentation-atoms {
    margin: 2vw;
}

tr.dark-border {
    border-bottom: 1px solid var(--color-gray2);
}

tr.light-border {
    border-bottom: 1px solid var(--color-gray3);
}