.button {
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

    /* make text within unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.button.input,
.button.quantity {
    background-color: #333333;
    border: 2px solid #333333;
}

.button.small {
    width: 40px;
    height: 40px;
}

.button.reset,
.button.resume,
.button.clear {
    background-color: #1C1C1E;
    border: 2px solid #1C1C1E;
}

.button.pause {
    background-color: #332000;
    border: 2px solid #332000;
}

.button.start,
.button.set {
    background-color: #022D12;
    border: 2px solid #022D12;
}